.enchantments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3vh;
}

.enchantmentOrganizer{
    display: flex;
    justify-content: space-around;
}

#enchtitle{
    margin-bottom: -2vh;
    outline: 4px solid;
    outline-offset: 10px;
}