.difficulty{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.difSelect{
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    text-align: center;
    cursor:pointer;
    background: #5c6664;
    color: white;
    font-family: 'Minecraft';
    font-size: inherit;
}

.difSelectTitle{
    outline: 4px solid;
    outline-offset: 10px;
}