.matSelect{

  display: flex;
  width: 8vw;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  text-align: center;
  cursor:pointer;
  background: #5c6664;
  color: white;
  
  
}


.matSelectWrapper{
    display: flex;
    align-items: center;
  
}