.matSelect{

  display: flex;
  width: 10vw;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  text-align: center;
  cursor:pointer;
  background: #5c6664;
  color: white;
  font-family: 'Minecraft';
  font-size: inherit;
  
  
}


.matSelectWrapper{
    display: flex;
    align-items: center;
  
}

@media (max-width: 1100px) {
  .matSelectWrapper{
      justify-content: space-evenly;
  }
  .matSelect{
    width: fit-content;
    font-size: medium;
    height: 2em;
  }
}